﻿@import "../../node_modules/bootswatch/dist/slate/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootswatch/dist/slate/bootswatch";
@import '../../node_modules/highlight.js/styles/darkula.css';

/* PIQA STYLES */
html {

}

body {

}

.navbar {
    margin-bottom: 20px;
}

/* COMPONENTS */
@import './components/docTypeSelector';
@import './components/fieldItem';
@import './components/fieldList';
@import './components/pageInfo';