﻿<template>
    <select class="form-control" v-on:change="doChangeDocumentType" id="ddlDocType">
        <option v-for="docType in docTypes" v-bind:value="docType.documentTypeName">{{ docType.documentTypeNameShort }}</option>
    </select>
</template>
<script>
    import $ from 'jquery';

    export default {
        data() {
            return {
                docTypes: []
            };
        },

        props: {

        },

        methods: {
            hubConnected(args) {
                window.piqaClient.sendMessage('getDocumentTypes');
            },
            docTypesResult(args) {
                this.docTypes = args;
            },
            doChangeDocumentType(event) {
                this.$events.$emit('getDocumentFields', $(event.currentTarget).val());            
            },
            getSelectedDocumentType() {
                return $('#ddlDocType').val();
            }
        },

        created() {
            this.$events.$on('hubConnected', this.hubConnected);
            this.$events.$on('documentTypesResult', this.docTypesResult);
        },

        mounted() {
            
        }
    };
</script>

