﻿<template>
    <div class="fieldList-fieldListing">
        <ul id="lstDocumentFields">
            <li v-for="field in fields">
                <FieldItem :name="field.name" :fieldType="field.fieldType"></FieldItem>
            </li>
        </ul>
    </div>
</template>
<script>
    import fieldItem from './fieldItem';
    import $ from 'jquery';

    export default {
        data() {
            return {
                fields: []
            };
        },

        components: {
            'FieldItem': fieldItem
        },

        props: {

        },

        methods: {
            documentFieldsResult(fields) {
                this.fields = fields;
            },

            getDocumentFields(documentTypeName) {
                window.piqaClient.sendMessage('getDocumentFields', documentTypeName);
            },

            getSelectedFields() {
                const checkedFields = $('#lstDocumentFields input[type="checkbox"]:checked');
                var selectedFields = [];

                for (var checkedFieldIndex = 0; checkedFieldIndex < checkedFields.length; checkedFieldIndex++) {
                    selectedFields.push({
                        name: $(checkedFields[checkedFieldIndex]).attr('data-fieldName'),
                        fieldType: $(checkedFields[checkedFieldIndex]).attr('data-fieldType')
                    });
                }                   

                return selectedFields;
            }
        },

        created() {
            this.$events.$on('documentFieldsResult', this.documentFieldsResult);
            this.$events.$on('getDocumentFields', this.getDocumentFields);
        },

        mounted() {

        }
    };
 </script>
