﻿<template>
    <div>
        <input type="checkbox" v-on:change="checkboxClicked" :data-fieldType="fieldType" :data-fieldName="name" />
        {{name}} [ {{ fieldType }} ]
    </div>
</template>
<script>
    export default {
        data() {
            return {
                selected: false
            };
        },

        props: [
            'fieldType', 'name'
        ],

        methods: {
            checkboxClicked() {
                this.selected = !this.selected;                
            },

            getSelectedInfo() {
                if (this.selected) {
                    return {
                        name: this.name,
                        fieldType: this.fieldType
                    };
                } 

                return null;
            }
        },

        created() {
            
        },

        mounted() {

        }
    };
</script>