﻿<template>
    <div>
        <pre v-highlightjs="pageInfoQuery"><code class="cs"></code></pre>
        <input type="button" class="btn btn-primary" value="Generate" v-on:click="generateQuery" />
        <input type="button" class="btn btn-primary" value="View Data" v-on:click="generateDataset" />
    </div>
</template>
<script>
    export default {
        data() {
            return {
              pageInfoQuery: ''
            };
        },

        props: [
          
        ],

        components: {

        },

        methods: {
            getShortName(documentName) {
                const nameParts = documentName.split('.');
                return nameParts[nameParts.length - 1];
            },
            generateDataset() {

            },
            generateQuery() {
                const selectedDocumentType = this.$parent.$refs.docTypeSelector.getSelectedDocumentType();
                const selectedFields = this.$parent.$refs.fieldList.getSelectedFields().map(function (selectedField) {
                    return {
                        name: selectedField.name,
                        fieldType: selectedField.fieldType
                    };
                });                
                
                window.piqaClient.sendMessage('buildPageInfoClass',  selectedDocumentType, selectedFields );
            },
            classGenerationResult(pageInfoQuery) {
                this.pageInfoQuery = pageInfoQuery;
            }
        },

        created() {
            this.$events.$on('pageInfoGenerationResult', this.pageInfoGenerationResult);
            this.$events.$on('classGenerationResult', this.classGenerationResult);
        },

        mounted() {

        }
    };
</script>