﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" href="css/piqa.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <span class="navbar-brand">PageInfo Query Analyzer</span>
    </nav>
    
    <PageInfoQueryAnalyzer></PageInfoQueryAnalyzer>

    <script type="text/javascript" src="js/piqa.js"></script>
  </body>
</html>